body {
  display: block;
  margin: 0 auto;
  padding: 100px 120px;
  background-color: #fcffc1;
  border: 0.1px solid rgb(54, 147, 233);
}
h1 {
  font-size: 24px;
  color: #346357;
  font-weight: bolder;
  margin: auto;
  padding: 0px 0px 10px 0px;
  font-family: "Inter", sans-serif;
}
h2 {
  margin: auto;
  padding: 0px 0px 10px 0px;
  font-size: 22px;
  font-weight: bolder;
  color: #346357;
  font-family: "Inter", sans-serif;
}
ul li {
  list-style: none;
  font-size: 15px;
  color: #346357;
  font-weight: lighter;
  font-family: "Inter", sans-serif;
  display: block;
  margin: 0 auto;
}
#current-temp {
  color: #346357;
  display: block;
  margin: auto;
}
#topicon {
  font-size: 90px;
  display: block;
  margin: auto;
  padding: 0px 10px;
}
.dateNtime {
  outline: #8b9794;
  margin: auto;
  padding: 15px;
}

.comingDate {
  font-size: 15px;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  color: #346357;
  margin: auto;
  padding: 30px;
  background-color: #9bf4d5;
}

.weatherIcon {
  font-size: 40px;
}
.changeCity {
  padding: 20px 0px;
  display: block;
  margin: 0 auto;
}
.changeCity #city-input {
  margin: auto;
  padding: 10px 0px;
  border: 0.1px solid #9bf4d5;
  margin: 0px 10px;
}
.search-location {
  padding: 30px;
  display: inline;
}
