body {
  width: 80%;
  display: block;
  margin: auto;
  padding: 50px;
  font-family: "Inter", sans-serif;
  border: 0.1px solid black;
}
.dateNtime {
  padding: 20px;
  border-radius: 15px;
  background-color: rgb(255, 252, 247);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#city-input {
  width: 80%;
  padding: 20px;
  align-items: center;
  margin: 10px 20px;
  border-color: 2px solid #394e94;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: rgb(255, 252, 247);
  border-radius: 10px;
}
.search-location {
  text-align: right;
  margin: 10px 0px;
  padding: 10px;
}
#search-city {
  padding: 5px 30px;
  background-color: rgb(255, 252, 247);
  color: #394e94;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  border: rgb(255, 252, 247);
}
#search-city hover {
  cursor: pointer;
  transition: ease-in-out;
  background-color: #394e94;
  color: rgb(255, 252, 247);
}
#current-location {
  padding: 5px 30px;
  background-color: rgb(255, 252, 247);
  color: #394e94;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  border: rgb(255, 252, 247);
}
#current-location hover {
  cursor: pointer;
  transition: ease-in-out;
  background-color: #394e94;
  color: rgb(255, 252, 247);
}
.changeCity {
  padding: 15px;
  background-color: #394e94;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  margin: 20px 0px;
}
#city-date {
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

h1 {
  font-weight: bolder;
  font-size: 50px;
  font-family: "Inter", sans-serif;
  text-align: left;
  padding: 10px 10px;
  color: #394e94;
}
h2 {
  color: #394e94;
  font-weight: bolder;
  font-size: 30px;
  font-family: "Inter", sans-serif;
  text-align: left;
  padding: 10px 10px;
}
#topicon {
  text-align: left;
  padding: 20px;
  font-size: 100px;
  color: yellow;
  display: inline;
}
ul {
  list-style: none;
}
#current-temp {
  font-size: 20px;
  color: #394e94;
  font-family: "Inter", sans-serif;
  text-align: right;
  display: inline;
  position: relative;
  bottom: 130px;
  right: 250px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 15px;
}
.comingDate {
  padding: 20px;
  border-radius: 15px;
  background-color: rgb(255, 252, 247);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 20px 0px;
}
.forcast-El {
  padding: 20px;
  border-radius: 15px;
  background-color: rgb(255, 252, 247);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 20px 0px;
}
